<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_tbanew_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=123456; database=tbanew;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
</configuration>